<%- include('./partial/header.ejs') %>
    <%- include('./partial/navbar.ejs') %>
        <div class="container">
            <div class="row mt-5">
                <h1>Home Page</h1>
                <hr>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti eos tempora earum beatae eaque
                    aliquid
                    ut!
                    Sapiente voluptatibus laborum possimus nostrum perferendis quasi cumque saepe, quas, soluta nobis
                    ipsa
                    delectus.
                </p>
            </div>
        </div>
        <%- include('./partial/footer.ejs') %>